<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a style="font-size: 30px;" href="/">HOME</a></li>
        <li><a style="font-size: 30px;" href="/">GENERAL</a></li>
        <li><a style="font-size: 30px;" href="/">BUSINESS</a></li>
        <li><a style="font-size: 30px;" href="/">SPORTS</a></li>
        <li><a style="font-size: 30px;" href="/">TECHNOLOGY</a></li>
        <li><a style="font-size: 30px;" href="/">STYLE</a></li>
        <li><a style="font-size: 30px;" href="/">POLITICS</a></li>
    </div>
  </div>
  </li>
  </ul>

</div>
</div>
</div>
<h1 style="font-weight: bolder;font-family:Brush Script MT ;font-size:50px;" class="text-center">THE GREAT NEWS</h1>